PasteDeploy==1.5.2
PyMySQL==0.6.1
SQLAlchemy==0.9.1
WebOb==1.3.1
WebTest==2.0.11
beautifulsoup4==4.3.2
cef==0.5
cornice==0.16.2
flake8==2.1.0
hawkauthlib==0.1.1
mccabe==0.2.1
pep8==1.4.6
pyflakes==0.7.3
pymysql-sa==1.0
pyramid==1.5a3
pyramid-hawkauth==0.1.0
repoze.lru==0.6
simplejson==3.3.2
six==1.5.2
tokenlib==0.3.1
translationstring==1.1
umemcache==1.6.3
unittest2==0.5.1
venusian==1.0a8
waitress==0.8.8
wsgiref==0.1.2
zope.deprecation==4.1.0
zope.interface==4.0.5
gevent==1.0
PybrowserID==0.9.1
http://github.com/mozilla-services/mozservices/archive/d6dce61688085ed289b47c78762116e06d3a524a.zip
