body {
margin: 0;
padding: 0;
background: url('/media/bg.jpg') repeat-x;
background-color: #b5e1ea;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #003663;
}

a {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.ctext {
text-align: center;
}

.cimage {
display: block;
margin-left: auto;
margin-right: auto;
}

.small {
font-size: 11px;
}

#content {
width: 880px;
margin: 0 auto;
}

#content #top {
height: 200px;
padding-top: 15px;
}

#content #bottom {
margin: 0 29px 0 30px;
}

#content #bottom .table_middle {
background: url('/media/table-sides.png') repeat-y;
min-height: 200px;
}

#content #bottom .table_middle .divider {
text-align: center;
}

#content #bottom .table_middle .title {
padding-left: 15px;
padding-bottom: 10px;
font-size: 18px;
}

#content #bottom .table_middle .details {
padding-left: 30px;
font-size: 14px;
}

#content #bottom .table_middle .updatelist li {
list-style-image: url('/media/circles.png');
padding-bottom: 5px;
}

#content #footer {
margin-top: 30px;
clear: both;
text-align: center;
color: #547A9B;
font-size: 12px;
padding-bottom: 10px;
}

#content #footer a {
color: #547A9B;
text-decoration: underline;
}

#content #footer .labs {
margin-top: 15px;
margin-bottom: 3px;
}

#content #footer .labs img {
vertical-align: middle;
margin-right: 10px;
}

#content #footer .legal {
margin-top: 10px;
font-size: 10px;
}

#content #footer .legal span {
margin-left: 10px;
}

.error {
background-color: #fd553b;
margin-left: 0px;
margin-top: 2px;
margin-bottom: 10px;
padding: 16px 16px 16px 16px;
font-weight: bold;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.box {
background-color: #9698af;
padding: 16px 16px 10px 16px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.box p {
margin-bottom: 15px;
}

form p {
margin-bottom: 15px;
}

form input {
font-size: 20px;
}

form .submit {
}

#user_login, #user_pass, #user_pass2 {
font-size: 20px;
width: 97%;
padding: 3px;
margin-right: 6px;
}

.error {
background-color: #fd553b;
margin-left: 0px;
margin-top: 2px;
margin-bottom: 10px;
padding: 16px 16px 16px 16px;
font-weight: bold;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.box {
background-color: #9698af;
padding: 16px 16px 10px 16px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.box p {
margin-bottom: 15px;
}

form p {
margin-bottom: 15px;
}

form input {
font-size: 20px;
}

form .submit {
}

#user_login, #user_pass, #user_pass2 {
font-size: 20px;
width: 97%;
padding: 3px;
margin-right: 6px;
}
